@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bubbler+One&family=Buda:wght@300&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Momo+Signature&family=Pixelify+Sans:wght@400..700&family=Rubik+Storm&display=swap');

.momo-signature-regular {
  font-family: "Momo Signature", cursive;
  font-weight: 400;
  font-style: normal;
}

/* .div1 {
  background-color: aqua;
}

.div2 {
  background-color: red;
}

.div3 {
  background-color: greenyellow;
}


#p1 {
    color: red;
}

#p2 {
    color: blue;
}

#p3 {
    color: rgb(239, 17, 228);
} */